<!DOCTYPE html> 
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <style>
            #header
            {
                background-color: #000000;
                min-height:100px;
            }
        </style>
    </head>
    <body>
        <div id="header">
            <div class="col-lg-2">
                <img src="../static/images/logo.jpeg" class="col-lg-12" style="height:100px;" />
            </div>
            <div class="col-lg-4">
                
            </div>
            <div class="col-lg-6" style="font-size:20px;font-weight:bolder;color:rgb(255, 255, 255);margin-top:25px;padding-left:250px;">
                 
                <a href="register">Register</a> | 
                <a href="login">Login</a> | 
                <a href="contact">Contact</a> 
            </div>
        </div>

        <div id="body" style="height:660px;background-color: #beb5b5b8;">
            <img src="../static/images/home.jpg" class="col-lg-12" style="padding:0px;height:660px;" />
        </div>

        <div id="footer" style="background-color:#050505;height:50px;text-align: center;color: rgb(251, 251, 251);font-weight:bolder;font-size:15px;padding-top:1%;" >
            All Rights Reserved to 5G Network
        </div>

    </body>
</html>